* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Forum', cursive;
}

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	height: 100vh;
	margin: 0 auto;
	padding-top: 15%;
	border-radius: 0; /*bec jumbotron is rounded*/
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.jumbotron h1 {
	color: #7d8b5a;
	background-color: #eae6d2;
	border-radius: 10%;
	border: 10px solid white;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	font-family: 'Kristi', cursive;
	font-size: 5em;
}

.jumbotron p {
	background-color: #b5b173;
	margin: 40px 0 5px 0;
	padding: 10px 0 10px 0;
	color: white;
	font-weight: 700;
	letter-spacing: 2px;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.btn {
	background-color: #98ada4;
	border: 3px solid #fff;
	border-radius: 40px;
	padding: 10px 20px 10px 20px;
}

.btn:hover {
	background-color: white;
	border: 2px solid #98ada4;
}

/*end landing*/


/*homepage*/
.home-land {
	height: 50vh;
	margin: 0 auto;
}

.home-land h1 {
	
}

/*#carousel-controls {
	float: left;
}*/

.carousel-inner img {
	height: 50vh;
	width: 100vh;
}

.myprimarycolor {
	background-color: #7d8b5a;
}

/*.card img {
	height: 50vh;
	max-height: 50vh;
}*/

/*end homepage*/


.contactpage {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-image: url("../images/bg2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

transform: scaleX(-1);

.form-group > input,
.form-group > textarea {
	background-color: #eae6d2;
    border: 2px solid #b5b173;
    color: white;
}

.form-group > text-area {

}

.form-group > label {
	color: 	#e0e2dc;
}

form .btn {
	background-color: #e0e2dc;
	color: 	#7d8b5a;
	border: 2px solid #7d8b5a;
}