* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Forum', cursive;
}

html {
	background-color: #fafaf6;
}

#jumbotron-section {
	height: 100vh;
}

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	padding-top: 15%;
	border-radius: 0; /*bec jumbotron is rounded*/
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#h1font {
	padding: 15px 0 15px 0;
	color: #fff;
	font-family: 'Sacramento', cursive;
	font-size: 7em;
	font-weight: bolder;
	text-shadow: 5px 5px #333;
/*	-webkit-text-stroke: 1px #333;*/
}

#h1font:hover {
	color: #333;
	text-shadow: 5px 5px #fff;
}

#logoh1 a {
	font-family: 'Sacramento', cursive;
	color: #fff;
	font-size: 6em;
	font-weight: bolder;
	text-shadow: 5px 5px #333;
}

#logoh1 a:hover {
	/*color: #b5b173;*/
	color: #333;
	text-shadow: 5px 5px #fff;
}

a:hover {
	color: #5b6762;
	text-decoration: underline;
}

.jumbotron p {
	background-color: rgba(255,255,255, 0.9);
	margin-top: 220px;
	padding: 10px 0 10px 0;
	width: 70%;
	color: #7d8b5a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	position: absolute;
	letter-spacing: 5px;
	font-weight: bolder;
	border-radius: 10px;
}

#indextohome a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	letter-spacing: 2px;
}

#indextohome {
	background-color: #98ada4;
	color: white;
	border-top: 3px solid #fafaf6;
	border-left: 3px solid #fafaf6;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, 0);
}

#indextohome:hover {
	background-color: #5b6762;
	color: white;
	border-top: 3px solid #fafaf6;
	border-left: 3px solid #fafaf6;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

#indextohome a {
	letter-spacing: 5px;
	font-weight: bold;
}


/*end of landing page*/


.bgdarkolive {
	background-color: #7d8b5a;
}

.bglightolive {
	background-color: #b5b173;
}

.bglightbeige {
	background-color: #eae6d2;
}

.bglightgray {
	background-color: #fafaf6;
}

.bgdarkblue {
	background-color: #5b6762;
}

.bglightblue {
	background-color: #98ada4;
}

.fontdarkolive {
	color: #707d51;
}

.fontlightolive {
	color: #b5b173;
}

.fontlightbeige {
	color: #eae6d2;
}

.fontlightgray {
	color: #fafaf6;
}

.fontdarkblue {
	color: #5b6762;
}

.fontlightblue {
	color: #98ada4;
}

.fontoffblack {
	color: #141414;
}

/*-----------------------start of home page-------------------------*/

.container-fluid {
	background-color: #fafaf6;
}

.home-land {
	width: 85% !important;
	margin: 0 auto;
}

#carouselSlides .carousel-inner img {
	/*height: 50vh;*/
	height: 500px;
	width: 80vh;
	/*transition-duration: 1s;*/
}

@media only screen and (max-width: 400px) {

	#carouselSlides .carousel-inner img {
		max-height: 300px;
	}	
}


#carouselSlides {
	width: 99%;
	margin: 0 auto;
}

#navbar {
	padding-top: 100px;
}

.navbar-brand {
	color: #57613e;
	font-size: 45px;
	font-family: 'Sacramento', cursive;
	font-weight: 700;
} /*navbar-brand*/


.nav-link {
	letter-spacing: 2px;
	color: #7d8b5a;
	font-size: 20px;
	text-transform: uppercase;
} /*navbar menu*/

#navbar-nav .active {
	font-weight: bold;
}

.homepage > q {
	font-size: 26px;
	font-family: 'Lusitana', serif;
	text-align: right !important;
	margin: 10px 30px 20vh 30px;
}

.cardserv {
	border-color: transparent;
    background-color: transparent; 
	position: relative;
} /*services cards*/

.cardserv:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.cardserv img {
	position: absolute;
  	width: 100%;
  	height: 100%;
	object-fit: cover;
	position: center;
	border: none;
	border-radius: 0;
	filter: grayscale(100%);
}

.cardserv .card-title {
	background-color: rgba(125,139,90, 0.9);
	color: white;
	padding: 5px;
	letter-spacing: 2px;
	font-weight: bolder;
	border-radius: 20px;
	font-size: 20px;
}

.cardserv:hover img {
	filter: none;
}

.homeintro {
	text-align: center;
}

.homeintro > h2 {
	/*color: #e53939;*/

	color: #5b6762;
	font-weight: bold;
	letter-spacing: 3px;
}

.homeintro h4 {
	color: #332b25;
}

.homeintro a {
	color: #333;
/*	text-decoration-line: none;*/
}

#home-btn {
	margin-top: 1vh;
	margin-bottom: 10vh;
}

#aboutBtn {
	text-decoration-line: none;
	color: white;
}

.homeintro button,
#intro2 button {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.homeintro button:hover,
#intro2 button:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.backtotop {
	background-color: transparent !important;
	color: #333 !important;
}

#bookusBtn {
	text-decoration-line: none;
	color: white;
}

#jumbobg {
	width: 100%;
	height: 30vh;
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.fa-arrow-down {
	margin-top: 10px;
	font-size: 60px;
	color: #5b6762;
}

/*.intro {
	width: 100%;
	height: 30vh;
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}*/

.row1 {
	text-align: center;
}

.fa-arrow-down:hover {
	text-decoration-line: none;
}

.intro1 {
	text-align: center;
}

.vertical-center {
	top: 50%;
	transform: translateY(25%);
}

.intro1-img {
	width: 80%;
	height: 400px;
}

.intro1-start {
	margin-top: 100px;
}

.intro2 {
	margin-top: 10vh;
	height: 30vh;
	background-image: url(../images/bg6.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.intro2 h3 {
	margin-top: 35vh;
	text-align: center;
}

.intro2 .card-img {
	height: 300px;
	border: none;
	border-radius: 0;
}

.intro2 .card {
	padding: 0;
}

.intro2-start {
	margin-top: 35vh;
}

#intro2 img:hover {
	transform: scale(1.2);
	z-index: 500;
}

#intro2 h4 {
	margin-top: 30px;
}

#galleryBtn {
	text-decoration-line: none;
	color: white;
}

.backtotop {
	background-color: transparent;
	border: none;
	margin: 0 auto;
	width: 100%;
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: bolder;
}

.fa-angle-up {
	color: black;
}

#footersection {
	background-color: #fafaf6;
	align-content: center;
	width: 100%;
	float: left;
	z-index: -1;
	position: relative;
}

#footersection > small {
	background-color: #fafaf6;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.copyright{
	width: 100%;
}

.contact .fab:hover {
	transform: scale(1.5);
}

#disclaimer {
	width: 80%;
	text-align: left;
}

@media only screen and (min-width: 960px) {
	.contact {
		font-size: 32px;
		text-align: center;
		z-index: 2;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	}
}


/*end of home page*/

/*-----------------------start of about page-------------------------*/

/*about page*/

#jumbotron-about {
	background-color: transparent;
}

.about-land {
	width: 85%;
	margin: 0 auto;
	font-family: 'Kristi' cursive;
}

.about-section {
	width: 99%;
	height: 200px;
}

#about-land .navbar-brand {
	letter-spacing: 0;
} /*navbar-brand*/

#aboutSlides .carousel-inner img {
	height: 400px;
	width: 100%;
}

@media only screen and (max-width: 400px) {
	#aboutSlides .carousel-inner img {
		height: 250px;
	}
}

#aboutSlides {
	width: 99%;
	margin: 0 auto;
}

.zoomIn {
	animation-duration: 20s;
}

.about-tags {
	font-weight: bold;
}

.est {
	width: 100%;
	height: 100%;
	margin: auto;
	font-size: 88px;
	color: #333;
	font-weight: bolder;
}
.est > h6 {
	margin-top: 30px;
}

#mvsection {
	height: 100%;
	color: #333; /*off white*/
}

#mvsection h2 {
	text-transform: uppercase;
}

#mvsection > p {
	font-size: 20px;
	letter-spacing: normal;
} 

@media only screen and (max-width: 400px) {
	.est > h6 {
		margin-top: 50px;
	}
	#mvsection {
		margin-top: 90px;
	}
	.team1 .card-img-top {
		width: 85%;
		align-items: center;
	}
}

.valueslist {
	margin-left: 30px;
	font-size: 20px;
	letter-spacing: normal;
}

.teamsection {
	background-image: url(../images/bg5.jpg);
	height: 200px;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

#aboutheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.team1 .card {
	margin-top: 40px;
	background-color: transparent;
	border: none;
	align-items: center;
}

.team1 .card-body {
	padding-left: 0;
	padding-right: 0;
}

.team1 .card-img-top {
	max-height: 200px;
}


/*end of about page*/

/*-----------------------start of contact page-------------------------*/
.contact-land {
	height: 100vh;
	width: 85%;
	margin: 0 auto;
}

.contactpage {
	/*text-align: center;*/
	width: 99%;
	height: 200px;
	margin: 0 auto;
	background-image: url(../images/bg8.png);
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

#contactheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.contactsection {
	margin-top: 20px;
	margin-right: 0px; 
    margin-left: 0px; 
}

.form-group > input,
.form-group > textarea,
.form-group > #sel1 {
	background-color: white;
    border: 2px solid #b5b173;
}

.form-group > label {
	color: #3a2c17;
}

.form-group {
	margin: 0;
}

.right-form {
	/*position: relative;*/
}

.contact-submit button {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 5px 20px 5px 20px;
	border-radius: 20px;

}

.contact-submit button:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 5px 20px 5px 20px;
	border-radius: 20px;
}

.right-contact {
	width: 100%;
	padding-top: 10px;
	background-color: rgba(245,245,220, 0.3);
	border: 1px solid #7d8b5a;
	color: #3a2c17;
	background-color: #eae6d2;
}

#contactSlides {
	width: 99%;
	margin: 0 auto;
}

.right-contact h2 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

.fa-telegram-plane {
	font-size: 22px;
}

.contact-details {
	color: #3a2c17;
	text-align: center;
}

.contact-details > h5 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.contact-details > small {
	font-size: 16px;
	width: 80%;
	text-align: center;
}

.contact-submit {
	width: 100%;
	text-align: right !important;
}

@media only screen and (max-width: 400px) {

	.right-contact {
		/*max-height: 800px;*/
		margin-bottom: 20px;
	}	
}

.followme {
	margin-top: 20px;
	margin-left: 20px;
}

.followme a {
	font-size: 50px;
	letter-spacing: 5px;
	-webkit-text-stroke: 1px #7d8b5a;
}

.followme h4 {
	text-align: center;
	width: 215px;
	font-weight: bold;
	font-size: 30px;
	color: 	#e0e2dc;
	letter-spacing: 2px;
	color: #e53939;
}

/*end of contact page*/

/*------------------- start of gallery page-------------------*/

.gallery-land {
	width: 85%;
	margin: 0 auto;
}

.modal-container {
	width: 99%;
	height: 200px;
	margin: 0 auto;	
	background-image: url(../images/bg9.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#galleryheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.breadcrumb {
	background-color: transparent;
	font-size: 24px;
}

.modal-container h4 {
	margin-top: 40px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #5b6762;
}

@media only screen and (max-width: 400px) {

	.modal-container h4 {
		margin-top: 0;
	}
}

.gallery-items img {
	max-height: 230px;
	/*object-fit: contain;*/
}

.gallery-items {
	margin-bottom: 30px;
	background-color: #eae6d2;
}

.gallery-items > h3 {
	margin-top: 10px;
}

#head-gall {
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.breadcrumb-item > a {
	color: #5b6762;
}

.badge {
	background-color: #98ada4;
}

.modal-content {
 min-height: 100%;
 height: auto;
 border-radius: 0;
 color: #5b6762;
 /*background: transparent;*/
}

.carousel-inner > .item > img {
 margin: 0 auto;
 max-width: 720px;
 max-height: 960px;
}

.gallery-items .card-img-top {
	width: 100%;
	height: 300px;
}

.gallery-land .gallery-items:hover {
	transform: scale(1.3);
	z-index: 499;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.card-img-top {
		width: 100%;
		max-height: 120px;
	}
}

.modal-content {
	border-radius: 10px;
	background-color: #eae6d2; 
}

.modal-content .btn {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.modal-content .btn:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}


/*end of gallery*/

/*------------------- start of testimonial page-------------------*/

.testimonial-land {
	width: 85%;
	margin: 0 auto;
}

.testimonialpage {
	width: 99%;
	height: 200px;
	margin: 0 auto;	
	background-image: url(../images/bg5.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#testimonialheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.testimonial-section {
	width: 85%;
	margin-top: 2vh;
}

.testimonial-section p {
	font-size: 20px;
}


/*mobile styles*/
@media only screen and (max-width: 400px) {

	.home-land {
		height: 100vh;
		width: 100%;
		margin: 0 auto;
	}

	#logoh1 {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}

	#jumbo-land .container p {
		font-size: 14px;
		margin-top: 180px;
	}

	#h1font {
		color: #fff;
		font-size: 4em;
		text-shadow: 5px 5px #333;
	}

	#logoh1 a {
		color: #fff;
		font-size: 4em;
		font-weight: bolder;
		text-shadow: 5px 5px #333;
	}

	#h1font:hover {
		color: #333;
		text-shadow: 5px 5px #fff;
	}

	#logoh1 a:hover {
		color: #333;
		text-shadow: 5px 5px #fff;
	}

	.jumbotron p {
		margin-top: 190px;
		transform: translate(-50%, -100%);
		font-size: 20px;
	}

	#navbar {
		padding-top: 30px;
	}

	.navbar-brand {
		font-size: 24px;
		letter-spacing: 0;
	}

	.nav-link {
		letter-spacing: 2px;
		font-size: 16px;
	} /*navbar menu*/

	.homepage > q {
		font-size: 22px;
	}

/*home page*/

	#bookusBtn {
		margin-bottom: 30px;
	}

	.intro1 {
		width: 100% !important;
		margin: 0 auto;
	}

	.intro1 > .row {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	#introfirstimg {
		margin-top: 200px;
	}

	.intro1-start {
		margin-top: 20px;
	}

	.intro-1start h4 {
		margin-top: -200px;
	}

	#intro1-img-2nd {
		margin-top: 100px;
	}

	#intro1-img-3rd {
		margin-top: 50px;
	}
	.intro1-img {
		width: 100%;
	}

	.intro2 {
		margin-top: 10vh;
		width: 100%;
		height: 30vh;
		background-image: url(../images/bg6.jpg);
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
	}

	.copyright{
		width: 100%;
		margin: 0 auto;
		z-index: 1;	
		display: block;
	}

	.contact {
		font-size: 32px;
		text-align: center;
	}

/*about page*/
	.about-section {
		width: 100%;
		margin: 0 auto;
	}

	.about-land {
		/*width: 100%;*/
	}

	#est {
		margin-top: 20px;
	}

	.p-5 {
    	padding: 1rem!important; 
	}

/*contact page*/
	.contactpage {
		background-size: cover;
		background-attachment: fixed;
	}

	.right-contact {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		display: block;
	    top: 10px;
	}

	.contactSlides {
		margin-top: 10px;
		margin-bottom: 10px;
	}

/*gallery page*/

	.container {
		width: 100%;
		padding: 0;
	}

}

/*tablet styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#logoh1 {
		transform: translate(0%, 75%);
		/*position: absolute;*/
	}

	.jumbotron p {
		margin-top: 250px;
	}

	#navbar {
		padding-top: 30px;
	}

	.nav-link {
		letter-spacing: 2px;
		font-size: 18px;
	} /*navbar menu*/

/*home page*/
	.intro1-start {
		margin-top: 75px;
	}

	.team1 .card-img-top {
		max-height: 124px;
	}

	.contact {
		font-size: 32px;
		text-align: center;
	}

/*contact page*/
	.right-contact {
		width: 100%;
		/*height:100%;*/
		padding-bottom: 20px;
	}

	.left-contact {
		width: 100%;
		/*transform: translate(0, -9%);*/
	}

	.contact-submit {
		width: 100%;
		text-align: center;
	}

}