* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Forum', cursive;
}

html {
	background-color: #fafaf6;
}

#jumbotron-section {
	height: 100vh;
}

#jumbo-land {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-radius: 0; /*bec jumbotron is rounded*/
	background-image: url(../images/bg10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

#logo1 {
	font-family: 'Sacramento', cursive;
	font-size: 6.5em;
	font-weight: bolder;
	color: #fffbf1;
	text-shadow: 5px 5px #333;
	text-decoration: none;
	letter-spacing: -3px;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 888;
}

/*------------------------------------------ start tipsy -----------------------------------------------*/

#logo1:before,
#logo1:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid green;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

#logo1:before {
  border-color: #b5b173 #b5b173 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

#logo1:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b5b173 #b5b173;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}


@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

/*------------------------------------------ end tipsy -----------------------------------------------*/

.jumbotron #p-text {
	background-color: rgba(255,255,255, 0.8);
	padding: 30px 40px 30PX 40px;
	width: 38%;
	color: #333;
	letter-spacing: 5px;
	font-weight: bolder;
	z-index: 889;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 250%);
}

#logo-fab {
	font-family: 'Sacramento', cursive;
	color: #7d8b5a;
	font-size: 7em;
	font-weight: bolder;
	text-shadow: 5px 5px #fff;	
    z-index: 890;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(170%, -40%);
}

#logo-fab:hover {
	/*color: #b5b173;*/
	color: #98ada4;
	text-shadow: 5px 5px #fff;
}

@media only screen and (max-width: 400px) {

	#logo1 {
		font-size: 5em;
	}

	.jumbotron #p-text {
		font-size: 2em;
		transform: translate(-48%, 90%);
	    padding-left: 20px;
	    width: 72%;
	}

	.jumbotron #logo-fab {
	    font-size: 2em;
	    transform: translate(100%, -40%);
	}

}


/*tablet styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#logo1 {
		font-size: 5em;
	}

	.jumbotron #p-text {
		font-size: 3em;
		width: 60%;
		transform: translate(-65%, 100%);
	}

	.jumbotron #logo-fab {
		font-size: 2em;
		transform: translate(135%, -40%);
	}

	.intro1 {
		width: 100%;
		align-content: center;
		align-items: center;
		text-align: center;
	}

	.intro1 .row {
		/*margin-left: 5px;*/
		padding-right: 0px;
		padding-left: 0;
	}
}

@media only screen and (min-width: 414px) and (max-width: 736px) {

	#logo1 {
		font-size: 5em;
	}

	.jumbotron #p-text {
		font-size: 3em;
		width: 65%;
		padding-left: 20px;
		transform: translate(-55%, 100%);
	}

	.intro1 {
		width: 100%;
		margin: 0 auto;
	}

	.jumbotron #logo-fab {
		font-size: 2em;
		transform: translate(58%, -40%);
	}

	.intro1 .row {
		margin-right: 0 !important;
	}

	#intro1 img {
		padding: 0;
		width: 100%;
		height: 100%;
	}
}



/*end of landing page*/


.bgdarkolive {
	background-color: #7d8b5a;
}

.bglightolive {
	background-color: #b5b173;
}

.bglightbeige {
	background-color: #eae6d2;
}

.bglightgray {
	background-color: #fafaf6;
}

.bgdarkblue {
	background-color: #5b6762;
}

.bglightblue {
	background-color: #98ada4;
}

.fontdarkolive {
	color: #707d51;
}

.fontlightolive {
	color: #b5b173;
}

.fontlightbeige {
	color: #eae6d2;
}

.fontlightgray {
	color: #fafaf6;
}

.fontdarkblue {
	color: #5b6762;
}

.fontlightblue {
	color: #98ada4;
}

.fontoffblack {
	color: #141414;
}

/*-----------------------start of home page-------------------------*/

.container-fluid {
	background-color: #fafaf6;
}

.home-land {
	width: 90% !important;
	margin: 0 auto;
}

#carouselSlides .carousel-inner img {
	/*height: 50vh;*/
	height: 500px;
	width: 80vh;
	/*transition-duration: 1s;*/
}

@media only screen and (max-width: 400px) {

	#carouselSlides .carousel-inner img {
		height: 295px !important;
	}
}

#carouselSlides {
	width: 99%;
	margin: 0 auto;
}

#navbar {
	padding-top: 50px;
}

.navbar-brand {
	color: #57613e;
	font-size: 45px;
	font-family: 'Sacramento', cursive;
	font-weight: 700;
} /*navbar-brand*/

.navbar-brand:hover {
	color: #5b6762;
}

.nav-link {
	letter-spacing: 2px;
	color: #7d8b5a;
	font-size: 20px;
	text-transform: uppercase;
} /*navbar menu*/

.nav-link:hover {
	color: #5b6762;
}

#navbar-nav .active {
	font-weight: bold;
}

.homepage > q {
	font-size: 26px;
	font-family: 'Lusitana', serif;
	text-align: right !important;
	margin: 10px 30px 20vh 30px;
}

.cardserv {
	border-color: transparent;
    background-color: transparent; 
	position: relative;
} /*services cards*/

.cardserv:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.cardserv img {
	position: absolute;
  	width: 100%;
  	height: 100%;
	object-fit: cover;
	position: center;
	border: none;
	border-radius: 0;
	filter: grayscale(100%);
}

.cardserv .card-title {
	background-color: rgba(125,139,90, 0.9);
	color: white;
	padding: 5px;
	letter-spacing: 2px;
	font-weight: bolder;
	border-radius: 20px;
	font-size: 20px;
}

.cardserv:hover img {
	filter: none;
}

.homeintro {
	text-align: center;
}

.homeintro > h2 {
	/*color: #e53939;*/

	color: #5b6762;
	font-weight: bold;
	letter-spacing: 3px;
}

.homeintro h4 {
	color: #332b25;
}

.homeintro a {
	color: #333;
/*	text-decoration-line: none;*/
}

#home-btn {
	margin-top: 1vh;
	margin-bottom: 10vh;
}

#aboutBtn {
	text-decoration-line: none;
	color: white;
}

.homeintro button,
#intro2 button {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.homeintro button:hover,
#intro2 button:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.backtotop {
	background-color: transparent !important;
	color: #333 !important;
}

#bookusBtn {
	text-decoration-line: none;
	color: white;
}

#jumbobg {
	width: 100%;
	height: 30vh;
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.fa-arrow-down {
	margin-top: 10px;
	font-size: 60px;
	color: #5b6762;
}

/*.intro {
	width: 100%;
	height: 30vh;
	background-image: url(../images/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}*/

.row1 {
	text-align: center;
}

.fa-arrow-down:hover {
	text-decoration-line: none;
}

.intro p,
.intro1 p {
	font-size: 20px;
}

.intro1 {
	text-align: center;
}

.vertical-center {
	top: 50%;
	transform: translateY(25%);
}

.intro1-img {
	width: 90%;
	height: 430px;
}

.intro1-start {
	margin-top: 100px;
}

.intro2 {
	margin-top: 10vh;
	height: 30vh;
	background-image: url(../images/bg6.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.intro2 h3 {
	margin-top: 35vh;
	text-align: center;
}

.intro2 .card-img {
	height: 300px;
	border: none;
	border-radius: 0;
}

.intro2 .card {
	padding: 0;
}

.intro2-start {
	margin-top: 35vh;
}

#intro2 img {
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

#intro2 img:hover {
	transform: scale(1.2);
	z-index: 500;
}

#intro2 h4 {
	margin-top: 30px;
}

#galleryBtn {
	text-decoration-line: none;
	color: white;
}

.backtotop {
	background-color: transparent;
	border: none;
	margin: 0 auto;
	width: 100%;
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: bolder;
}

.fa-angle-up {
	color: black;
}

#footersection {
	background-color: #fafaf6;
	align-content: center;
	width: 100%;
	float: left;
	z-index: -1;
	position: relative;
}

#footersection small {
	background-color: #fafaf6;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	z-index: -2;
}

.copyright{
	width: 100%;
}

.contact .fab:hover {
	transform: scale(1.5);
}

#disclaimer button {
	float: left;
	background-color: transparent !important;
	border: none;
	color: #7d8b5a !important;
	padding: 0 !important;
	font-size: 32px;
	text-align: center;
	z-index: 655;
    position: absolute;
    left: 0px;
    top: 0px;
}


#disclaimer button:hover {
	transform: scale(1.5);
}

.contact {
	font-size: 32px;
	text-align: center;
	z-index: 2;
    position: absolute;
    right: 0px;
    top: 0px;
}


/*end of home page*/

/*-----------------------start of about page-------------------------*/

/*about page*/

#jumbotron-about {
	background-color: transparent;
}

#about-land {
	width: 90%;
	margin: 0 auto;
	font-family: 'Kristi' cursive;
}

.about-section {
	width: 99%;
	height: 200px;
	margin: 0;
}

#about-land .navbar-brand {
	letter-spacing: 0;
} /*navbar-brand*/

#aboutSlides .carousel-inner img {
	height: 450px;
	width: 100%;
}

@media only screen and (max-width: 400px) {
	#aboutSlides .carousel-inner img {
		height: 250px;
	}
}

#aboutSlides {
	width: 99%;
	margin: 0 auto;
}

.zoomIn {
	animation-duration: 20s;
}

.about-tags {
	font-weight: bold;
}

.est {
	width: 100%;
	height: 100%;
	margin: auto;
	font-size: 88px;
	color: #333;
	font-weight: bolder;
}
.est > h6 {
	margin-top: 30px;
}

#mvsection {
	height: 100%;
	color: #333; /*off white*/
}

#mvsection h2 {
	text-transform: uppercase;
}

#mvsection > p {
	font-size: 20px;
	letter-spacing: normal;
} 

@media only screen and (max-width: 400px) {
	.est > h6 {
		margin-top: 50px;
	}

	#mvsection {
		margin-top: 90px;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#mvsection h2 {
		font-size: 26px;
	}

	.team1 .card-img-top {
		width: 100%;
		align-items: center;
	}
}

.valueslist {
	margin-left: 30px;
	font-size: 20px;
	letter-spacing: normal;
}

.teamsection {
	background-image: url(../images/bg17.jpg);
	height: 200px;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
}

#aboutheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

@media only screen and (max-width: 400px) {
	#aboutheader {
		margin: 0 !important;
		margin-bottom: 0;
	}
}

.team1 .card {
	margin-top: 40px;
	background-color: transparent;
	border: none;
	align-items: center;
}

.team1 .card-body {
	padding-left: 0;
	padding-right: 0;
}

.team1 .card-img-top {
	height: 250px;
	max-height: 250px;
}


/*end of about page*/

/*-----------------------start of contact page-------------------------*/
.contact-land {
	height: 100vh;
	width: 90%;
	margin: 0 auto;
}

.contactpage {
	/*text-align: center;*/
	width: 99%;
	height: 200px;
	margin: 0 auto;
	background-image: url(../images/bg8.jpg);
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

#contactheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.contactsection {
	margin-top: 20px;
	margin-right: 0px; 
    margin-left: 0px; 
}

.form-group > input,
.form-group > textarea,
.form-group > #sel1 {
	background-color: white;
    border: 2px solid #b5b173;
}

.form-group > label {
	color: #3a2c17;
}

.form-group {
	margin: 0;
}

.right-form {
	/*position: relative;*/
}

.contact-submit button {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 5px 20px 5px 20px;
	border-radius: 20px;

}

.contact-submit button:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 5px 20px 5px 20px;
	border-radius: 20px;
}

.right-contact {
	width: 100%;
	padding-top: 10px;
	background-color: rgba(245,245,220, 0.3);
	border: 1px solid #7d8b5a;
	color: #3a2c17;
	background-color: #eae6d2;
}

#contactSlides {
	width: 99%;
	margin: 0 auto;
}

.right-contact h2 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

.fa-telegram-plane {
	font-size: 22px;
}

.contact-details {
	color: #3a2c17;
	text-align: center;
}

.contact-details > h5 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.contact-details > small {
	font-size: 16px;
	width: 90%;
	text-align: center;
}

.contact-submit {
	width: 100%;
	text-align: right !important;
}

@media only screen and (max-width: 400px) {

	.right-contact {
		/*max-height: 800px;*/
		margin-bottom: 20px;
	}	
}

.followme {
	margin-top: 20px;
	margin-left: 20px;
}

.followme a {
	font-size: 50px;
	letter-spacing: 5px;
	-webkit-text-stroke: 1px #7d8b5a;
}

.followme h4 {
	text-align: center;
	width: 215px;
	font-weight: bold;
	font-size: 30px;
	color: 	#e0e2dc;
	letter-spacing: 2px;
	color: #e53939;
}

/*end of contact page*/

/*------------------- start of gallery page-------------------*/

.gallery-land {
	width: 85%;
	margin: 0 auto;
}

.modal-container {
	width: 99%;
	height: 200px;
	margin: 0 auto;	
	background-image: url(../images/bg9.png);
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

#galleryheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.breadcrumb {
	background-color: transparent;
	font-size: 24px;
}

.modal-container h4 {
	margin-top: 40px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #5b6762;
}

@media only screen and (max-width: 400px) {

	.modal-container h4 {
		margin-top: 0;
		font-size: 24px;
	}

	.breadcrumb a {
		font-size: 20px;
	}
}

.gallery-items img {
	max-height: 230px;
	/*object-fit: contain;*/
}

.gallery-items {
	margin-bottom: 30px;
	background-color: #eae6d2;
}

.gallery-items > h3 {
	margin-top: 10px;
}

#head-gall {
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.breadcrumb {
	padding-left: 0;
	padding-right: 0;
}

.breadcrumb-item > a {
	color: #5b6762;
}

.badge {
	background-color: #98ada4;
}

.modal-content {
 min-height: 100%;
 height: auto;
 border-radius: 0;
 color: #5b6762;
 /*background: transparent;*/
}

.carousel-inner > .item > img {
 margin: 0 auto;
 max-width: 720px;
 max-height: 960px;

}

.gallery-items .card-img-top {
	width: 100%;
	height: 300px;
}

.gallery-land .gallery-items {
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

.gallery-land .gallery-items:hover {
	transform: scale(1.3);
	z-index: 499;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.card-img-top {
		width: 100%;
		max-height: 120px;
	}

	.modal-container h4 {
		margin-top: 0;
		font-size: 26px;
	}

	.breadcrumb a {
		font-size: 20px;
	}
}

.modal-content {
	border-radius: 10px;
	background-color: #eae6d2;
}

.modal-content .btn {
	background-color: #98ada4;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.modal-content .btn:hover {
	background-color: #5b6762;
	color: white;
	border-top: 2px solid #fafaf6;
	border-left: 2px solid #fafaf6;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

#testimonial-container {
	width: 100%;
	height: 600px;
	background-color: #b5b173;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	border-radius: 10px;
	z-index: 200;
}

#h2testimonial {
	font-size: 24px;
	background-color: #fafaf6;
	margin-top: 40px;
}

#testimonial-container .carousel-item {
	width: 100%;
	margin: auto;
}

@media only screen and (max-width: 400px) {
	#testimonial-container {
		height: 600px;
	}

	.modal-content {
		max-width: 338px;	
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.card-img-top {
		width: 100%;
		max-height: 120px;
	}

	#testimonial-container {
		height: 850px;
	}

	#testimonial-container .card-text {
		font-size: 12px;
	}
}

#testimonial-container .card-text {
	width: 90%;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

#testimonial-container .card {
	background-color: transparent;
	border: none;
}


/*end of gallery*/

/*------------------- start of testimonial page-------------------*/

.testimonial-land {
	width: 85%;
	margin: 0 auto;
}

.testimonialpage {
	width: 99%;
	height: 200px;
	margin: 0 auto;	
	background-image: url(../images/bg5.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#testimonialheader {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 2px 2px 5px #333;
	/*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

.testimonial-section {
	width: 85%;
	margin-top: 2vh;
}

.testimonial-section p {
	font-size: 20px;
}




/*body {
  font-family: helvetica, arial, sans-serif;
  background-color: #2e2e31;
}*/

/*mobile styles*/
@media only screen and (max-width: 400px) {

	.home-land {
		height: 100vh;
		width: 100%;
		margin: 0 auto;
	}

	#logoh1 {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}

	#jumbo-land .container p {
		font-size: 14px;
		margin-top: 180px;
	}

	#h1font {
		color: #fff;
		font-size: 4em;
		text-shadow: 5px 5px #333;
	}

	#logoh1 a {
		color: #fff;
		font-size: 4em;
		font-weight: bolder;
		text-shadow: 5px 5px #333;
	}

	#h1font:hover {
		color: #333;
		text-shadow: 5px 5px #fff;
	}

	#logoh1 a:hover {
		color: #333;
		text-shadow: 5px 5px #fff;
	}

	.jumbotron p {
		margin-top: 190px;
		transform: translate(-50%, -100%);
		font-size: 20px;
	}

	#navbar {
		/*padding-top: 30px;*/
		padding: 30px 0 0 0;
	}

	.navbar-brand {
		font-size: 26px;
		letter-spacing: 0;
	}

	.nav-link {
		letter-spacing: 2px;
		font-size: 16px;
	} /*navbar menu*/

	.homepage > q {
		font-size: 22px;
	}

/*home page*/

	#bookusBtn {
		margin-bottom: 30px;
	}

	#jumbobg {
		background-position: bottom;
	}

	.homeintro h2 {
		font-size: 28px;
	}

	.homeintro h4 {
		font-size: 22px;
	}

	.intro1 {
		width: 100% !important;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	.intro1 > .row {
		width: 100%;
		padding: 0;
		margin: 0 !important;
		margin: 0 auto;
	}

	#introfirstimg {
		margin-top: 200px;
	}

	.intro1-start {
		margin-top: 20px;
	}

	.intro-1start h4 {
		margin-top: -200px;
	}

	#intro1-img-2nd {
		margin-top: 100px;
	}

	#intro1-img-3rd {
		margin-top: 50px;
	}
	.intro1-img {
		width: 100%;
	}

	.intro2 {
		margin-top: 10vh;
		width: 100%;
		height: 30vh;
		background-image: url(../images/bg6.jpg);
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
	}

	#footersection small {
		font-size: 14px;
	}

	.copyright{
		width: 100%;
		margin: 0 auto;
		z-index: 1;	
		display: block;
	}

	.contact {
		font-size: 28px;
		text-align: center;
		top: 25px;
	}

	#disclaimer button {
		top: 25px;
	}

/*about page*/
	.about-section {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.about-land {
		/*width: 100%;*/
	}

	#est {
		margin-top: 20px;
	}

	.p-5 {
    	padding: 1rem!important; 
	}

/*contact page*/
	.contactpage {
		background-size: cover;
		background-attachment: fixed;
	}

	.left-contact {
		padding-left: 0;
		padding-right: 0;
	}

	.right-contact {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		display: block;
	    top: 10px;
	}

	.contactSlides {
		margin-top: 10px;
		margin-bottom: 10px;
	}

/*gallery page*/

	.container {
		width: 100%;
		padding: 0;
	}

}

/*tablet styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#navbar {
		padding-top: 30px;
	}

	.navbar-brand {
		font-size: 24px;
	}

	.nav-link {
		letter-spacing: 2px;
		font-size: 18px;
	} /*navbar menu*/

	#jumbobg {
		background-position: bottom;
	}

/*home page*/
	.intro1-start {
		margin-top: 75px;
	}

	.team1 .card-img-top {
		max-height: 124px;
	}

	.contact {
		font-size: 32px;
		text-align: center;
		margin-top: 20px;
	}

/*contact page*/
	.right-contact {
		width: 100%;
		/*height:100%;*/
		padding-bottom: 20px;
	}

	.left-contact {
		width: 100%;
		/*transform: translate(0, -9%);*/
	}

	.contact-submit {
		width: 100%;
		text-align: center;
	}
	
	#disclaimer button {
		margin-top: 20px;
	}

	#footersection small {
		font-size: 16px;
	    padding-right: 30px;
	}

}